<%= form_with(model: listing, local: true) do |form| %>
  <%= render partial: 'form_content', locals:{form: form, listing: @listing} %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
