<div class="card-image has-text-centered">
  <figure class="image">
    <% if listing.photo.attached? %>
      <%= image_tag listing.photo, alt: "An image of the item or items listed"%>
    <% else %>
      <div class="card-content">
        <div class="content has-text-black has-background-danger-light py-4">
          <p>
            This post has no image
          </p>
          <p>
            Be careful of scams. Always ensure there is a picture of the item you are trading for.
          </p>
        </div>

      </div>
    <% end %>
  </figure>
</div>
<div class="card-content has-text-centered">
    <div class="content">
      <%= listing.description %>
    </div>
</div>