<div class="card equal-height">
  <div class="card-header">
    <h3 class="title is-size-4"> <%= link_to listing.title, listing %></h3>
  </div>
    <div class="subtitle">
      <%=link_to listing.seller.username, user_path(listing.seller.username) %>
    </div>
    <%= link_to listing do %>
      <%= render partial: "listings/thing_content", locals: {listing: listing} %>
    <% end %>
    </a>
</div>