<h1>Listings</h1>
<%= link_to 'New Listing', new_listing_path %>
<div class="columns is-multiline">
    <% @listings.each do |listing| %>
    <div class= "column is-one-quarter is-info">
        <%= render partial: 'thing', locals: {listing: listing} %>
    </div>
    <% end %>
</div>

