<h1>Listings</h1>
  <div class= "card">
    <% @listings.each do |listing| %>
      <div style="border: solid 1px black; padding: .5rem; margin: .75rem">
        <strong><%= link_to listing.title, listing %></strong><br> 
        <strong><%= listing.seller.username %></strong> | 
        <%= listing.locked == false ? "Available" : "Trade Pending" %>
      </div>
    <% end %>
    </div>

<%= link_to 'New Listing', new_listing_path %>
