<h2>The wonderful users of ThisThat!</h2>
<div>
    <% @users.each do |user| %>

        <%# For some reason I need to provide the username in the params.
            Probably since I'm using the username as the url id.
            This will probably change if I implement the FriendlyId gem %>
        <%=link_to user.username, user_path(username: user.username) %><br>
    <% end %>
</div>