<%# case display_trade_status @trade %>
<% if (display_trade_status(@trade)) == :put_buttons %>
    <h3 class="title is-3 is-centered">Accept Trade?</h3>

    <div style="display: flex; justify-content: space-around;">

        <%= button_to "Decline", url_for(controller:'trades', action: 'update', trade: @trade, respond: 'decline'), method: :put, class: "button is-danger"%>
        <%= button_to "Accept", url_for(controller:'trades', action: 'update', trade: @trade, respond: 'accept'), method: :put, class: "button is-success" %>

    </div>
<% end %>

