<div style="display: flex; flex-direction: column; justify-content: space between;">

<%= render 'trade', locals: {trade: @trade} %>

<div>
<%= link_to 'Edit', edit_trade_path(@trade) %> <%= link_to 'Back', request.referer %>
</div>
